{% extends "base.html" %}

{% block page_content %}
<h2>使用说明</h2>
<p>这个小项目包含18个基本功能：</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;新添加材料在[添加新库存]界面</p>
<p>&nbsp;&nbsp;&nbsp;  购买，返修，备货，出库，材料售后带出，材料售后带回在[材料列表]界面，</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;入库，取消购买在[购买列表]界面，</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;修好，报废，材料售后修好，材料售后报废在[返修列表]界面</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;材料售后损坏，材料完好入库，材料售后返修，增加售后售出费用，欠费清零在[售后列表]界面</p>

<p>* 1,如果基本功能点错了，可以在主要操作记录界面点击[回滚一条操作](或多条)，取消刚才的操作（备注不能被恢复）</p>
<p>* 2,如果发现bug，请截图发邮件到<3471318547@qq.com>可以保存（不是QQ消息）</p>
<p>* 3,备注：点击选择下拉列表【修改备注】，在右边文本框输入备注，【勾选】一行数据，点击【提交】</p>
<p>更新4_v0.1:</p>
<p>材料页面-</p>
<p>增加了筛选栏，直接输入筛选条件【文本框】，然后点击【提交】</p>
<p>增加了下拉列表【修改材料名称】，在原备注栏现材料名/备注栏输入【文本框】，然后点击【提交】</p>
<img src="../static/images/18 functions.png">
<img src="../static/images/0001.png">
<img src="../static/images/0002.png">
<img src="../static/images/0003.png">
<img src="../static/images/0004.png">
<img src="../static/images/0005.png">
<img src="../static/images/0006.png">
<img src="../static/images/0007.png">
<img src="../static/images/0008.png">
<img src="../static/images/0009.png">
<img src="../static/images/0010.png">
{% endblock %}




